
.thmemList{
  // width: 74%;
  width: 78%;
  margin: 0 auto;
  margin-bottom: 50px;
  .thead{
    font-family:PingFangSC-Regular,PingFang SC;  
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .title{
      color: #333333;
      line-height:25px;
      font-size:18px;
    }
    .btn{
      height:20px;
      font-size:14px;
      font-weight:400;
      color: #666666;
      line-height:20px;
      margin-right: 10px;
      &:hover{
        cursor: pointer;
        color: #479CDC;
      }
    }
  }
  .tbody{
    display: inline-flex;
    flex-wrap: wrap;
    margin: -10px;
    box-sizing: content-box;
    .cardList{
      width:264px;
      height: 188px;
      margin: 10px;
      .userCont{
        img{
          height: 148px;
          border-top-right-radius: 4px;
          border-top-left-radius: 4px;
        }
      }
      .userDocs{
        height:40px;
        background:rgba(255,255,255,1);
        border-radius:0px 0px 4px 4px;
        font-size:14px;
        color:rgba(51,51,51,1);
        padding: 0 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .usertitle{
          flex: 1; // 宽度无所谓
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;  // 行数（整数）
          overflow: hidden;
          // white-space: nowrap;
          // text-overflow: ellipsis;
        }
        .username{
          width: 80px; // 宽度无所谓
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        } 
      }
    }
  }
}