.video-detail{
  display: flex;
  // align-items: center;
  justify-content: center;
  flex: 1;
  .divflex{
    background-color: #78a453;
    min-height: 300px;
    width: 74%;
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    .play-main{
      flex: 1;
      min-width: 520px;
      // background-color: #030303;
      background-color: #c5d8e2;
      .playerbox{
        width: 100%;
        min-height: 300px;
        #playerid{
          width: 100%;  
        }
      }
      .play-userinfo{

      }
    }
    .sidmain{
      width: 368px;
      padding-left: 20px;
      &>div{
        background-color: #ffffff;
        min-height: 200px;
        margin-bottom: 20px;
      } 
    }
  }
}