.footer-info{
  // border-top: 1px solid #333;
  // display: flex;
  // align-content: flex-end;
  // align-items: flex-end;
  // justify-content: center;
  width: 100%;
  margin-bottom: 40px;
  .official{
    font-size:14px;
    font-family:MicrosoftYaHei;
    color:rgba(255,255,255,1);
    line-height:24px; 
    text-align: center;              
  }
}