.header{
   height: inherit;
   .nav{
      background: chocolate;
        width: 100%;
      div{
         display: inline-block;
         vertical-align: middle;
      }
      .logo{
         height: 38px;
         margin-left: 200px;
      }
      .navLlist{
         .navItem{
            position: absolute;
            top: 14px;
         }
      }
   }
   
}