.video-zone{
  // background-color: #f1f2f6;
  min-height: 300px;
  flex: 1;
}

/**********/ 
@media screen and (min-width: 1200px){

}
@media screen and (max-width: 1200px){
  .main-warpper .warp_play .media-play{
    flex-flow: column;
    .player{
      // width: 100%;
    }
    .activity{
      flex-flow: row;
      margin-left: 0px;
      width: 100%;
      .item-order {
        flex: 1;
        margin: 5px;
        height: 130px;
        background-color: #396;
      }
    }
  }
  // .media-play{
  //   flex-flow: column nowrap;
  //   .activity{
  //     flex-flow: row nowrap;

  //   }
  // }
}