.header-parts{
  height: 0.6rem;
  width: 100%;
  // border: 1px solid #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba($color: #000000, $alpha: 0.5);
  // opacity: 0.5;
  .appLogo{
    width: 120px;
    height: 38px;
  }
  .menuList, .control-group{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.14rem;
  }
  .menuList{
    width: 33%;
    color: #FFFFFF;
    .item-tab{
      padding: 5px;
      
      &.active{
        color: #FFA60C;
        border-bottom: 2px solid #FFA60C;
        font-weight: bold;
      }
    }
  }

  .control-group{
    width: 34.22%;
    color: #DBDBDB;
    .search-type{
      width: 200px;
      height: 35px;
      .el-input__inner{
        height: 35px;
        border-radius:18px;
        // background-color: #ABA4A3;
      }
      .el-input__icon{
        line-height: 35px;
      }
    }
    .cont-follow{
      &:hover{
        cursor: pointer;
        color: #FFA60C;
        transform:scale(1.5);
        -webkit-transform:scale(1.5);  
        -moz-transform:scale(1.5);
      }
    }
    .cont-user{
      .sign, .register{
        &:hover{
          cursor: pointer;
          color: #FFA60C;
        }
        
      }
    }
  }
}
