.header{
  background-color: #ffffff;
  .header-cont{
    width: 78%;
    height: 0.8rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menuList, .control-user{
      display: inline-flex;
      justify-content: space-around;
      align-items: center;
      
    }
    .menuList{
      color: #333333;
      font-size:18px;
      line-height: 25px;  
      .item-tab{
        margin-left: 0.6rem;
        &:hover{
          cursor: pointer;
          color: #DF2E47;
          transform: scale(1.2);
          -webkit-transform:scale(1.2);  
          -moz-transform:scale(1.2);
        }
      }
      .search-type{
        margin-left: 0.6rem;
        width: 3.4rem;
        height: 40px;
        .el-input__inner{
          height: 40px;
          border-radius:18px;
          border-width: 2px;
          color: #999999;
          // background-color: #ABA4A3;
        }
        .el-input__icon{
          line-height: 35px;
        }
      }
      .el-dropdown{
        font-size: 0.18rem;
        &:hover{
          cursor: pointer;
          color: #DF2E47;
        }
      }
    }
    // .search-type{
    //   margin-left: 0.6rem;
    //   width: 3.2rem;
    //   height: 40px;
    //   .el-input__inner{
    //     height: 40px;
    //     border-radius:18px;
    //     border-width: 2px;
    //     color: #999999;
    //     // background-color: #ABA4A3;
    //   }
    //   .el-input__icon{
    //     line-height: 35px;
    //   }
    // }
    .control-user{
      font-size: 0.14rem;
      color: #333333;
      .el-avatar{
        vertical-align: middle;
        &:hover{
          cursor: pointer;
        }
      }
      .el-icon-caret-bottom{
        color: #999999;
      }
    }
  }
}

// 下拉列样式
.el-dropdown-menu{
  .el-dropdown-menu__item {
    .dropdown_column{
      color: #333333;
      font-size: 0.14rem;
      &:hover{
        cursor: pointer;
        color: #DF2E47;
      }
    }
  }
}