.home{
  font-family: "Microsoft YaHei";
  height: inherit;
  background-image: url(../../assets/img/bodyBGImg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  .header{
    background: none;
    .menuList, .control-user{
      color: #ffffff;
      .el-icon-caret-bottom{
        color: #ffffff;
      }
      .el-dropdown{
        color: #ffffff;
      }
    }
  }
  .footer-info{
    background: none;
    color: #ffffff;
  }
/** 首页页面内容样式**/ 
  .sitewarp{
    width: 74%;
    margin: auto;
    flex: 1;
    margin-top: 2rem;
    .title{
      font-size:60px;
      font-family:MicrosoftYaHei-Bold,MicrosoftYaHei;
      font-weight:bold;
      color:rgba(255,255,255,1);
      line-height:79px;
    }
    .docs-text{
      font-size:40px;
      font-family:MicrosoftYaHei;
      color:rgba(255,255,255,1);
      line-height:52px;
      margin-top: 10px ;
      margin-bottom: 50px;
    }
    .control-download{
      display: flex;
      .discriminate_code{
        width: 128px;
        height: 128px;
        margin-right: 20px;
        background: #333;
        div{
          margin: 2px;
          padding: 13px;
          border: 1px solid #fff;
          border-radius: 8px;
        }
      }
      .btn-group{        
        .load-btn{
          width: 180px;
          height: 60px;
          background: #fff;
          border-radius: 18px;
        }
        .iosDown{
          background: url("../../assets/img/iosBtn.png") no-repeat;
          margin-bottom: 8px;
        }
        .androidDown{
          background: url("../../assets/img/androidBtn.png") no-repeat;
        }
      }
    }
  }
}
