.video-zone{
  // background-color: #f1f2f6;
  min-height: 300px;
  flex: 1;
  .hotVideo{
    width: 78%;
    margin: 0 auto;
    margin-bottom: 50px;   
    // background: olive;
    .thead{
      font-family:PingFangSC-Regular,PingFang SC;  
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .title{
        color: #333333;
        line-height:25px;
        font-size:18px;
      }
      .btn{
        height:20px;
        font-size:14px;
        font-weight:400;
        color: #666666;
        line-height:20px;
        margin-right: 10px;
        &:hover{
          cursor: pointer;
          color: #479CDC;
        }
      }
    }
    .hot-warp{
      min-height: 300px;
      display: flex;
      flex-wrap: wrap;
      box-sizing: content-box;
      .banner{
        width: 548px;
        height: 316px;
        margin-right: 20px;
        .el-carousel__container{
          height: inherit;
          img{
            border-radius: 4px;
          }
        }
      }
      .hot-video{
        flex: 1;
        margin: -10px;
        display: inline-flex;
        flex-wrap: wrap;
        border: #343434;
        .userCard{
          width: 264px;
          height: 148px;
          margin: 10px;
          .usercover{
            height: 148px;
            border-radius: 4px;
            background-size: cover;
            position: relative;
            &:hover{
              cursor: pointer;
            }
            .userDocs{
              width: 100%;
              height: 20px;
              font-size: 14px;
              color: #FFFFFF;
              line-height: 20px;
              position: absolute;
              bottom: 5px;
              // text-align: center;
              padding:0 12px;
            }
          }
          
        }
      }
    }
  }
}

/**********/ 
@media screen and (min-width: 1200px){

}
@media screen and (max-width: 1200px){

}