.downapp{
  width: 100%;
  min-height: 630px;
  margin-bottom: 100px; 
  background: url("../../assets/appbg-main.png") no-repeat;
  background-size: contain;
  .main-warpper{
    width: 73%;
    min-height: 400px;
    margin:0 auto;
    // border:1px solid #333;
    position: relative;
    top: 100px;
    display: flex;
    flex-wrap: nowrap;
    // align-items: center;
    // -webkit-box-align: center;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    // // justify-content: space-between;
    // align-content: center;
    text-align: center;
    .warp-left{
      flex: 1;
      height: inherit;
      // border: 1px solid #3a6df9;
      .down-content{
        width: 400px;
        margin: 0 auto;
        .title{
          color: #ffffff;
          text-align: left;
          height:79px;
          font-size:60px;
          font-family:Microsoft YaHei;
          font-weight:400;
          line-height:79px;
        }
        .desc{
          color: #ffffff;
          text-align: left;
          height:42px;
          font-size:32px;
          font-family:Microsoft YaHei;
          font-weight:400;
          line-height:42px;
        }
        .code-info{
          margin-top: 50px;
          height: 250px;
          width: 100%;
          display: flex;
          color: #fff;
          &>div{
            flex: 1;
            height: inherit;
            // border: 1px solid #333;
          }
          .ios-regional, .android-regional{
            margin: 0 auto;
            .ios-code, .andr-code{
              margin: 0 auto;
              width: 126px;
              height: 126px;
              background: url("../../assets/wxtc.png") no-repeat;
              background-size: contain;
              
            }
            p{
              height:21px;
              font-size:16px;
              font-family:Microsoft YaHei;
              font-weight:400;
              line-height:21px;
              margin-top: 7px;
              i{
                width: 38px;
                height: 38px;
                display: inline-block;
                vertical-align: middle;
                &.ios{
                  background: url("../../assets/ios.png") no-repeat;
                  background-size: contain;
                }
                &.andr{
                  background: url("../../assets/android.png") no-repeat;
                  background-size: contain;
                }
              }
            }
            button{
              width: 180px;
              height: 50px;
              margin-top: 29px;
              border-radius: 30px;
              &.btn-ios{
                background: url("../../assets/ios-small.png") no-repeat;
                background-size: cover;
                
              }
              &.btn-andr{
                background: url("../../assets/android-small.png") no-repeat;
                background-size: cover;
              }
            }
          }
        }
      }
    }
    .warp-right{
      width: 40%;
      height: inherit;
      // border: 1px solid #258;
      background: url("../../assets/iphonebg.png") no-repeat;
      background-size: contain;
    }
  }
}